@function v($var) {
  @return var(--#{$var});
}
:root{
  --red: #ae2226;
  --hover: #804033;
  --black: #000;
  --tb: #cd9a81;
  font-size: 10px;
}

@font-face {
  font-family: ProximaNovaThin;
  src: url("#{$font-path}/ProximaNovaThin.otf");
}

@font-face {
  font-family: ProximaNova-Regular;
  src: url("#{$font-path}/ProximaNova-Regular.otf");
}

@font-face {
  font-family: ProximaNovaBold;
  src: url("#{$font-path}/ProximaNovaBold.otf");
}

body {
  height: 100vh;
  background: #1f1f1f;
  font-family: ProximaNova-Regular, sans-serif;
  color: #fff;
  overflow: hidden;
}
.wrapper{width: 100%; overflow: hidden;}
// header
header{
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  .logo{
    position: absolute;
    left: 4vw; top: 7.5vh;
    padding: 1vh 1vw;
    z-index: 9;
  }
  .btn_menu{
    width: 10vw; height: 3.25vw;
    font-size: 1.3vw; color: #fff;
    text-align: center; line-height: 1.46vw;
    position: fixed; right: 2vw; top: 6.8vh;
    a{display: inline-block; color: #fff; transition: .6s; transition-delay: .3s; overflow: hidden; position: relative;}
    a:after{
      content: "";
      width: 100%; height: 3px;
      position: absolute;
      right: 0; top: 50%;
      background: #f9f9f9;
      transform: translate3d(-105%,0,0);
      transition: transform .4s,-webkit-transform .4s;
    }
    a:before{
      content: attr(data-title);
      width: 0%;
      position: absolute;
      color: #fff;
      white-space: nowrap;
      overflow: hidden;
      transition: width 0s 0s;
    }
    a:hover{
      color: #4d4d4d;
      transition: .3s;
      transition-delay: 0s;
    }
    a:hover:after{
      transform: translate3d(105%,0,0);
    }
    a:hover:before{
      width: 100%;
      transition: width .4s .3s;
    }
  }
}
.menu_plz{
  width: 100%;
  height: 100%;
  align-items: center;
  position: fixed; top: 0; left: 0;
  z-index: 999;
  pointer-events: none;
  &:before{
    content: "";
    width: 0%;
    height: 100%;
    position: fixed; left: 0; top: 0;
    background: #1f1f1f;
    transition: .8s;
    transition-delay: .3s;
  }
  &.menu_plz_open{
    opacity: 1;
    pointer-events: inherit;
    &:before{
      width: 100%; left: inherit; right: 0;
      transition-delay: 0s;
    }
    > div,ul{width: 100%; transform: translateY(0); opacity: 1;transition: .5s; transition-delay: .5s;}
  }
  > div,ul{
    width: 100%;
    transform: translateY(20px);
    opacity: 0;
    transition: .8s;
    transition-delay: 0s;
  }
  .menu_lang{
    justify-content: center;
    li:nth-child(1):after{
      content: "";
      width: 5px; height: 1px;
      margin: 0 10px;
      display: inline-block;
      background: #fff;
      vertical-align: middle;
    }
    a{font-size: 22px; color: #aaa; text-align: center; line-height: 34px; text-transform: uppercase;}
    li.current-lang a{color: #fff;}
  }
  .menu_big{
    &_list{
      width: 100%;
      max-width: 87.6vw;
      display: flex;
      justify-content: space-between;
      margin: 0 auto; padding: 0 1.46vw;
    }
    li{width: 18.25vw; height: 50.7vh; display: block; background: #2c2c2c; position: relative; transition: .8s ease-out .15s; box-shadow: 0 7px 40px rgba(0,0,0,0);}
    li:after{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      background: rgba(#000,.6);
      transition: .5s;
      transition-delay: 0s;
    }
    li:hover{
      transform: translateY(-40px);
      box-shadow: 0 14px 40px rgba(0,0,0,.35);
      &:after{background: rgba(#000,0);}
      .menu_txt span{background: rgba(31,31,31,.8);}
      .menu_txt span:hover{background: #1f1f1f;}
    }
    li.menu_hover{transform: translateY(-20px);}
    img{width: 100%; height: 100%; object-fit: cover;}
    li a{width: 100%; height: 100%; z-index: 90;}
    li{
      img,a{position: absolute; top: 0; left: 0;}
    }
  }
  .menu_txt{
    width: 100%; height: 100%; position: relative;
    display: flex; flex-direction: column;
    align-items: center; justify-content: center; z-index: 9;
    h4{font: 2.336vw/2.5vw ProximaNovaBold, sans-serif; position: relative;}
    h4:after{
      content: '';
      width: 20px;
      height: 1px;
      display: block;
      margin: 3vw auto 0;
      background: #fff;
    }
    span{
      font-size: 1.022vw;
      color: #fff;
      letter-spacing: 0;
      text-align: center;
      line-height: 20px;
      width: 10.22vw;
      padding: 10px;
      display: block;
      margin: 6vh auto 0;
      transition: .8s;
    }
  }
  .menu_bt{
    justify-content: center;
    li{display: inline-block; margin: 0 2.19vw;}
    li a{
      display: inline-block;
      font: 1.75vw/2.5vw ProximaNovaBold, sans-serif;
      color: #fff; text-transform: capitalize; position: relative;
      transition: .6s; transition-delay: .3s;
      overflow: hidden;
    }
    a:after{
      content: "";
      width: 100%; height: 3px;
      position: absolute;
      right: 0; top: 50%;
      background: #f9f9f9;
      transform: translate3d(-105%,0,0);
      transition: transform .4s,-webkit-transform .4s;
    }
    a:before{
      content: attr(data-title);
      width: 0%;
      position: absolute;
      color: #fff;
      white-space: nowrap;
      overflow: hidden;
      transition: width 0s 0s;
    }
    a:hover{
      color: #4d4d4d;
      transition: .3s;
      transition-delay: 0s;
    }
    a:hover:after{
      transform: translate3d(105%,0,0);
    }
    a:hover:before{
      width: 100%;
      transition: width .4s .3s;
    }
  }
}
main{
  min-height: 100vh;
}
.slide_home{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 1.2s;
  overflow: hidden;
  .slide_home_container{
    width: 100%; height: 100%;
    position: absolute; top: 0; left: 0;
    transition: .8s;
    &.selected{transform: translateY(20vh);}
  }
  .item_slide{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    transition: height .8s;
  }
  .item_slide.active{
    height: 100vh; transition-delay: 0s;
    .item_container{height: 78.12vh}
    .slide_img{width: 30vw; background-size: cover; background-position: center;}
    .slide_title{
      h2{transform: translateY(0vh);}
      h2 span{margin-top: 0vw; height: 7.8vw;}
      p{transform: translateY(0vh);}
      .line{width: 6vw; background: #fff; margin-left: 0vw; transition: 1.2s;}
      .text{height: 1.5vw; letter-spacing: 3px; text-transform: uppercase;}
    }
    .subtitle{
      h3{transform: translateY(0vh); transition: 0s;}
      h3 span{width: 2.5vw; margin-left: 0vw;}
    }
  }
  .item_container{
    width: 62.96vw;
    height: 33.3vh;
    display: flex;
    transition: .8s;
    transform: translateX(-4vw);
    position: relative;
  }
  .slide_img{
    width: 49vw;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: .7;
    transform: translateY(60px);
    transition: 1.2s;
    &:hover{opacity: 1;}
  }
  .slide_title{
    opacity: 0;
    transition: 1.2s;
    transition-delay: .8s;
    h2{
      font: 7.3vw/7.3vw ProximaNovaThin, sans-serif;
      font-size: 7.3vw;
      line-height: 7.3vw;
      color: #fff;
      letter-spacing: 0;
      position: absolute;
      left: 25vw;
      top: 19vh;
      transform: translateY(-22vh);
      transition: .8s;
    }
    h2 span{
      display: block;
      height: 0vw;
      margin-top: 7.3vw;
      overflow: hidden;
      transition: .8s;
    }
    h2 span:nth-child(2){font-family: ProximaNovaBold, sans-serif;}
    p{
      display: flex;
      align-items: center;
      position: absolute;
      top: 55vh;
      left: 42vw;
      transform: translateY(-22vh);
      transition: .8s;
    }
    .line{
      width: 0vw;
      margin-left: 6vw;
      height: 1px;
      background: #fff;
      transition: .5s;
    }
    .text{
      display: block;
      height: 0vw;
      font: 1.17vw/1.5vw ProximaNovaBold, sans-serif;
      color: #fff;
      letter-spacing: 0;
      margin-left: 1vw;
      overflow: hidden;
      transition: 1.2s;
    }
  }
  .subtitle{
    width: 10vw;
    padding-top: 10vh;
    opacity: .3;
    h3{margin: 0; writing-mode: vertical-rl; font-size: 1.6vw; line-height: 2.55vw; color: #fff; transform: translateY(-22vh); transition: .8s}
    span{width: 0vw; display: block; margin-left: 2.5vw; white-space: nowrap; transition: 1.2s; overflow: hidden;}
  }
  .btn_garanzia{
    position: fixed;
    left: 4vw;
    bottom: 7.5vh;
    padding: 1vh 1vw;
    color: #fff;
    font-size: 1.314vw;
    line-height: 1.46vw;
    z-index: 9;
  }
  .btn-facebook{
    position: fixed;
    right: 5.2vw;
    bottom: 7.5vh;
    padding: 1vh 1vw;
    z-index: 9;
    img{width: 1.5vw; height: auto; display: block;}
  }
  .nav-home{
    position: fixed;
    right: 16.5vw;
    top: 28vh;
    z-index: 999;
    a{display: block; margin: 15px 0; opacity: .5; transition: .5s;}
    .btn-next{transform: rotate(90deg);}
    .btn-prev{transform: rotate(-90deg);}
    a:hover{opacity: 1;}
    a.disable{opacity: .2;}
  }
}
.page_load{
  .slide_home{
    .slide_img{transform: translateY(0);}
  }
  .slide_title{opacity: 1;}
}


@media (max-width: 1022px) {
  header{
    .logo{top: 2.5vh;}
    .logo img{width: 20vw; max-width: 115px;}
    .btn_menu{font-size: 5vw; width: auto; height: 5vh; top: 4vh; right: 4vw; line-height: initial;}
  }
  .slide_home{
    .nav-home{right: 8.5vw; top: 15vh;}
    .item_container{width: 80vw;}
    .item_slide.active{
      .slide_img{width: 60vw;}
      .subtitle{
        h3 span{width: 3.5vw;}
      }
      .slide_title{
        h2 span{height: 15vw;}
        .text{height: 5vh;}
      }
    }

    .subtitle{
      h3{font-size: 4vw;}
    }
    .slide_title{
      h2{font-size: 13vw; line-height: 15vw; top: 25vh;}
      h2 span{margin-top: 10vw;}
      p{left: 66vw;}
      .text{font-size: 3vw; line-height: 5vh;}
    }
    .btn_garanzia{
      bottom: 2.5vh;
      font-size: 3vw;
      line-height: initial;
    }
    .btn-facebook{
      right: 4vw;
      bottom: 2.5vh;
      img{width: 4vw;}
    }
  }
}








