<header>
    <a href="" class="logo" title=""><img src="./assets/images/Logo_Black.svg" alt=""></a>
    <div class="btn_menu flex-center">
        <a href="javascript:;" class="link-more" data-title="Menu">Menu</a>
    </div>
</header>
<div class="menu_plz flex">
    <ul class="menu_lang flex">
        <li class="current-lang"><a href="" lang="it-IT">it</a></li>
        <li><a href="" lang="en-GB">en</a></li>
    </ul>
    <div class="menu_big">
        <ul class="menu_big_list flex">
            <li>
                <a href=""></a>
                <div class="menu_img">
                    <img src="./assets/images/home-natural-philosophy-summer.jpg" alt="">
                </div>
                <div class="menu_txt">
                    <h4>Azienda</h4>
                    <span>Entra</span>
                </div>
            </li>
            <li>
                <a href=""></a>
                <div class="menu_img">
                    <img src="./assets/images/slide_02.jpg" alt="">
                </div>
                <div class="menu_txt">
                    <h4>Natural People</h4>
                    <span>Entra</span>
                </div>
            </li>
            <li>
                <a href=""></a>
                <div class="menu_img">
                    <img src="./assets/images/natural-products.jpg" alt="">
                </div>
                <div class="menu_txt">
                    <h4>Prodotti</h4>
                    <span>Entra</span>
                </div>
            </li>
            <li>
                <a href=""></a>
                <div class="menu_img">
                    <img src="./assets/images/home-natural-retailers.jpg" alt="">
                </div>
                <div class="menu_txt">
                    <h4>Finnova Retail</h4>
                    <span>Entra</span>
                </div>
            </li>
        </ul>
    </div>
    <ul class="menu_bt flex">
        <li><a href="" title="" data-title="Finiture">Finiture</a></li>
        <li><a href="" title="" data-title="Downloads">Downloads</a></li>
        <li><a href="" title="" data-title="News">News</a></li>
        <li><a href="" title="" data-title="Attiva Garanzia">Attiva Garanzia</a></li>
        <li><a href="" title="" data-title="Preventivazione">Preventivazione</a></li>
        <li><a href="" title="" data-title="Contatti">Contatti</a></li>
    </ul>
</div>