<main>
    <div class="slide_home">
        <a href="" class="btn_garanzia">Attiva garanzia</a>
        <a href="" class="btn-facebook"><img src="./assets/images/ico-fb.svg" alt=""></a>
        <div class="nav-home">
            <a href="javascript:;" class="btn-prev"><img src="./assets/images/Group2Copy.svg" alt=""></a>
            <a href="javascript:;" class="btn-next"><img src="./assets/images/Group2Copy.svg" alt=""></a>
        </div>
        <div class="slide_home_container">
            <div class="item_slide active">
                <div class="item_container">
                    <div class="subtitle">
                        <h3>
                            <span>Una forza di natura,</span>
                            <span>con una qualità tutta italiana</span>
                        </h3>
                    </div>
                    <div class="slide_img" style="background-image: url('assets/images/home-natural-philosophy-summer.jpg');"></div>
                    <div class="slide_title">
                        <h2>
                            <span>Natural</span>
                            <span>Philosophy</span>
                        </h2>
                        <p>
                            <span class="line"></span>
                            <span class="text">Entra</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item_slide">
                <div class="item_container">
                    <div class="subtitle">
                        <h3>
                            <span>Dai nostri talenti naturali,</span>
                            <span>un team giovane e dinamico</span>
                        </h3>
                    </div>
                    <div class="slide_img" style="background-image: url('assets/images/slide_02.jpg');"></div>
                    <div class="slide_title">
                        <h2>
                            <span>Natural</span>
                            <span>People</span>
                        </h2>
                        <p>
                            <span class="line"></span>
                            <span class="text">Entra</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item_slide">
                <div class="item_container">
                    <div class="subtitle">
                        <h3>
                            <span>Non semplici finestre,</span>
                            <span>ma geometrie luminose</span>
                        </h3>
                    </div>
                    <div class="slide_img" style="background-image: url('assets/images/natural-products.jpg');"></div>
                    <div class="slide_title">
                        <h2>
                            <span>Natural</span>
                            <span>Products</span>
                        </h2>
                        <p>
                            <span class="line"></span>
                            <span class="text">Entra</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item_slide">
                <div class="item_container">
                    <div class="subtitle">
                        <h3>
                            <span>Non semplici finestre,</span>
                            <span>ma geometrie luminose</span>
                        </h3>
                    </div>
                    <div class="slide_img" style="background-image: url('assets/images/home-natural-retailers.jpg');"></div>
                    <div class="slide_title">
                        <h2>
                            <span>Natural</span>
                            <span>Products</span>
                        </h2>
                        <p>
                            <span class="line"></span>
                            <span class="text">Entra</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>